[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.0"
streamlit = ">=1.30"
openpyxl = ">=3.1"
stripe = ">=8.0"
boto3 = "*"
python-dotenv = ">=1.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
